<div id="container" class="col-sm">
    <div
      id="logo"
      class="point"
      (click)="onLogoClick($event)">
        Logo
    </div>

    <div id="links">
        <div class="link" routerLink="/home">Home</div>
        <div class="link" routerLink="/about">About</div>
        <div class="link" routerLink="/place">Place</div>
        <div class="link" routerLink="/details">Details</div>
        <div class="link" routerLink="/orders">Orders</div>
        <div>|</div>
        <div class="link" (click)="onAuthClick()">{{ isLoggedIn ? 'Logout' : 'Login' }}</div>
    </div>
</div>  