<div id="container" class="col-sm">
  <button
    mat-mini-fab
    color="accent"
    id="logo"
    class="point"
    (click)="onLogoClick($event)">
    <mat-icon>menu</mat-icon>
</button>

  <div id="links">
    <button mat-mini-fab routerLink="/home" aria-label="Home">
      <mat-icon>home</mat-icon>
    </button>

   <button mat-raised-button color="accent" routerLink="/about">
        About
    </button>
    <button mat-raised-button color="accent" routerLink="/place">
        Place
    </button>
    <button mat-raised-button color="accent" routerLink="/details">
        Details
    </button>

    <!-- ✅ Mini Project as a normal clickable link -->
    <button mat-raised-button color="accent" (click)="goToOrders('add')">
      Mini Project
    </button>

    <div>|</div>
    <button class="link" (click)="onAuthClick()" mat-raised-button color="accent">
      {{ isLoggedIn ? 'Logout' : 'Login' }}
    </button>
  </div>
</div>