<mat-toolbar color="primary" class="head">
    <span class="title">{{title}}</span>
    <span class="spacer"></span>
    <nav class="nav-links">
        <a mat-button routerLink="/excercise1">Excercise1</a>
        <a mat-button routerLink="/excercise2">Excercise2</a>
        <a mat-button routerLink="/excercise3">Excercise3</a>
        <a mat-button routerLink="/excercise4">Excercise4</a>
        <a mat-button routerLink="/excercise5">Excercise5</a>
        <a mat-button routerLink="/excercise6">Excercise6</a>
        <a mat-button routerLink="/excercise7">Excercise7</a>
    </nav>
</mat-toolbar>