.header{
    background-color: #1abc9c;
    color: white;
    text-align: left;
    padding: 5px;
    
}

.header H1{
 font-size: 30px;
 margin: 0px;
}

.nav a{
    color: white;
    text-decoration: none;
    margin:0 15px;
    font-size: 15px;
}

.nav Sheet{
    background-color: azure;
    text-align: left;
    color: black;
   
    
}
