.head{
    background-color: fuchsia;
    color: white;
    padding: 0 15px;
    justify-content: space-between;
    display: flex;  
    align-items: center;            
    
}
.spacer {
    flex: 1 1 auto;
}

.head H1{
 font-size: 30px;
 margin: 0px;
}
.nav{
    display: flex;
    gap: 20px; 
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
}
.nav a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    margin-right: 20px;

}
.nav-item {
    color: white !important;
    font-size: 14px;
}
.nav-links {
    display: flex;
    gap: 10px;
    align-items: center;
}
.nav-links a {
    color: white !important;
    font-size: 14px;
}
.toolbar {
    display: flex;
  }
a[mat-button] {
    color: white !important;
}

@media (max-width: 768px) {
        .nav-links {
      flex-wrap: wrap;
      justify-content: center;
    }
}


