<div class="location-container">
    <form [formGroup]="locationForm" (ngSubmit)="saveLocation()">
    

    <h2>Location</h2>

    <label>Province</label>
    <div class="search-container">
        <input
            type="text"
            placeholder="Search or select province..."
            formControlName="province"
            (input)="onProvinceChange()"
            (focus)="showDropdown = true"
            class="search-input"
        />
        <div *ngIf="showDropdown && provinces.length > 0" class="dropdown-list">
            <div *ngFor="let p of provinces" 
                 (click)="selectProvince(p)"
                 class="dropdown-item">
                {{ p.province }}
            </div>
        </div>
    </div>


    <label>Town / City</label>
    <div>
        <select
            formControlName="townCity"
            (change)="onTownCityChange()"
            [disabled]="!townCities.length"
            class="center"
        >
            <option value="">Select Town/City</option>
            <option *ngFor="let t of townCities" [value]="t.townOrCity || t.name || t"
            class="center">
            {{ t.townOrCity}}
            </option>
        </select>
    </div>

    <label>Barangay</label>
    <div>
        <select
            formControlName="barangay"
            [disabled]="!barangays.length"
            class="center"
        >
            <option value="">Select Barangay</option>
            <option *ngFor="let b of barangays" [value]="b.barangay || b.name || b"
            class="center">
            {{ b.barangay || b.name || b }}
            </option>
        </select>
    </div>

    <div>
        <button type="submit" [disabled]="locationForm.invalid">
            Save Location
        </button>
    </div>

    </form>
    <div *ngIf="savedLocation">
        <h3>Saved Location:</h3>
        <p>Province: {{ savedLocation.province }}</p>
        <p>Town/City: {{ savedLocation.townCity }}</p>
        <p>Barangay: {{ savedLocation.barangay }}</p>

</div>