<div class="login-wrapper">
  <div class="container">
    <h2>Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <input formControlName="username" type="text" placeholder="Username" />
      <input formControlName="password" type="password" placeholder="Password" />

      <p>
        Don't have an account?
        <button type="button" routerLink="/register" routerLinkActive="Active">Register</button>
      </p>

      <button type="submit" [disabled]="loginForm.invalid">
        Login
      </button>
    </form>

    <p style="color:red" *ngIf="error">{{ error }}</p>
  </div>
</div>