<div class="app-container">

  <div class="main-layout">
    <app-left-sidebar
    *ngIf="authService.isLoggedIn()"
  [class.closed]="!isSidebarOpen"
  [isOpen]="isSidebarOpen"
  (sidebarItemClick)="onSidebarInteraction()"
  class="sidebar">
</app-left-sidebar>

    <div class="right-panel" [class.blurred]="isSidebarOpen">
      

      <!-- MOVE app-head here -->
      <app-head
        *ngIf="authService.isLoggedIn()"
        [hideRightButtons]="hideRightButtonsOnMobile"
        (logoClick)="toggleSidebar()">
      </app-head>

    

      <div class="content" (click)="onMainContentClick()">
        <app-alert-message></app-alert-message>
        <router-outlet></router-outlet>
      </div>
      <app-foot *ngIf="authService.isLoggedIn()"></app-foot>
    </div>
  </div>

  
</div>
