<div class="app-container">

  <div class="main-layout">
    <app-left-sidebar
    *ngIf="authService.isLoggedIn()"
  [class.closed]="!isSidebarOpen"
  [isOpen]="isSidebarOpen"
  class="sidebar">
</app-left-sidebar>

    <div class="right-panel">
      

      <!-- MOVE app-head here -->
      <app-head
        *ngIf="authService.isLoggedIn()"
        (logoClick)="toggleSidebar()">
      </app-head>

    

      <div class="content">
        <app-alert-message></app-alert-message>
        <router-outlet></router-outlet>
      </div>
      <app-foot></app-foot>
    </div>
  </div>

  
</div>
