<div class="app-container">

  <div class="main-layout">
    <app-left-sidebar
  [class.closed]="isSidebarOpen"
  [isOpen]="!isSidebarOpen"
  class="sidebar">
</app-left-sidebar>

    <div class="right-panel">

      <!-- MOVE app-head here -->
      <app-head
        (logoClick)="toggleSidebar()">
      </app-head>

      <app-header
        class="animate"
        *ngIf="showHeader">
      </app-header>

      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <app-foot></app-foot>
</div>