#foot-container
{
    display: flex;
    justify-content: center;
    padding: 20px 30px;
    background-color: lightblue;
    gap: 20px;
    text-align: center;
}

#left-part
{
    display: list-item;
    justify-content: left;
    
}

#mid-part
{
    display: list-item;
}

.text
{
    text-align: center;
}

   
