#foot-container
{
        display: flex;
    padding: 20px 30px;
    background-color: lightblue;
    gap: 20px;


}

#left-part
{
    display: list-item;
    justify-content: left;
    
}

#mid-part
{
    display: list-item;
}

   