.sidebar {
  width: 220px;
  height: 100vh;
  background: #ff69b4; 
  color:black;
  position: flex;
  top: 0px;
  left: 0;
  transition: width 0.3s ease;
  overflow: hidden;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  white-space: nowrap;
}

.sidebar li:hover,
.active {
  background: #fff0f5;
  border-radius: 5px;
}
.menu-icon {
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}

.sidebar.closed {
  width: 40px;
}
.sidebar h2 {
  padding: 10px;
  margin: 0;
}

.sidebar.closed ul {
  display: none;
}
.sidebar.closed {
  width: 0;
}
